body{
    background-color:black;
    margin: 0px;
    min-height: calc(100vh - 70px);
}


.body-home {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    background-color: black;
    color: white;
    display: grid;
    width: 1200px;
    height: 920px;
    grid-template: repeat( 5, 1fr) 60px 10px / 170px 1fr 1fr 1fr 1fr;
    /* 7 rows / 5 columns */
    grid-column-gap: 5px;
    border: dodgerblue solid;

}



.logo:hover {
    cursor: pointer;
}

.logo {
    display: grid;
    margin-top: 5px;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
    border: dodgerblue solid;
}



.menu {
    justify-items: center;
    display: grid;
    margin-top: 5px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-area: 1 / 2 / 1 / span 5;
    border: dodgerblue solid;
}

.menu button {
    border: 1.5px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 7px 14px;
    cursor: pointer;
    transition: 0.3s;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.menu button:hover {
    background-color: #fff;
    color: #000; 
}



.top-nav {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-area: 2 / 2 / span 2 / span 3;
    border: dodgerblue solid;
    grid-column-gap: 2em;

}

.left {
    overflow: scroll;
    overflow-x: hidden;
    min-width: 300px;
}

.main {
    overflow: scroll;
    overflow-x: hidden;
    min-width: 300px;
}

.right {
    overflow: scroll;
    overflow-x: hidden;
    min-width: 300px;
}





.mid-nav {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-area: 4 / 2 / span 2 / span 3;
    border: dodgerblue solid;
    grid-column-gap: 2em;

}

.left-mid {
    overflow: scroll;
    overflow-x: hidden;
    min-width: 300px;
}

.main-mid {
    overflow: scroll;
    overflow-x: hidden;
    min-width: 300px;
}

.right-mid {
    overflow: scroll;
    overflow-x: hidden;
    min-width: 300px;
}


h1{
    color: #FFF;
}



ol{
    color: #fff;
    font-family: monospace;
}


ol li{
    list-style-type: none;
}

.Tour_1 button{
    
    float: right;
    margin-left: 10px;
    border: 1.5px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 7px 14px;
    cursor: pointer;
    transition: 0.3s;
    
    
    
}

.Tours{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background: #000;
    
}

.Tour_1 ol{
    display: block;
    float: left;
}

.Tour_2 button{
    display: block;
    float: right;
    margin-left: 10px;
    border: 1.5px solid #fff; 
    background-color: #000;
    color: #fff; 
    padding: 7px 14px; 
    cursor: pointer;
    transition: 0.3s;
}

.Tour_2 ol{
    display: block;
    float: left;
}

.Tour_3 button{
    display: block;
    float: right;
    margin-left: 10px;
    border: 1.5px solid #fff; 
    background-color: #000;
    color: #fff; 
    padding: 7px 14px; 
    cursor: pointer;
    transition: 0.3s;
}

.Tour_3 ol{
    display: block;
    float: left;
}

div {    
    margin-bottom: 12px;
    padding: 4px;
   
}


.Tour_1 {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }

.Tour_2 {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }

.Tour_3 {
    display: table;
    width: 100%;
    box-sizing: border-box;
}


.Tour_4 button{
    display: block; 
    float: right;
    margin-left: 10px;
    border: 1.5px solid #fff;
    background-color: #000; 
    color: #fff;
    padding: 7px 14px; 
    cursor: pointer;
    transition: o.3s;
    
}
.Tour_4 ol{
    display: block;
    float: left 
}

.Tour_4 {
    display: table; 
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #fff;
    color: #000; 

}

