.NavMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.NavMenu li {
    float: left;
}

.NavMenu li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavMenu li a:hover:not(.active) {
    background-color: #111;
}

NavMenu:active {
    background-color: #4CAF50;
}

p{
    color: #fff;
    font-family: monospace;
}

a{
    color: #fff;
    font-family: monospace;
}

footer{
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    
}
