.button {
    border: 1.5px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 7px 14px;
    cursor: pointer;
    transition: 0.3s;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.button:hover {
    background-color: #fff;
    color: #000; 
}

html, body { 
    margin: 0; height: 100%; color: #fff; font-family: monospace;
} 
.grid-container {  
    display: grid;  
    height: 100%;  
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.3fr 2.5fr 0.3fr;  
    grid-gap: 1px 1px;  
    grid-template-areas: 'Nav Nav Nav Nav' '. Container Container .' 'Footer Footer Footer Footer';
}
.Nav { 
    grid-area: Nav; 
}

.Container {  display: grid;  grid-area: Container; grid-gap: 1px 1px;}

.Nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    background-color: #000;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2rem;
    max-width: 80%;
}

.Nav li {
    float: left;
}

.Nav li a {
    display: block;
    color: white;
    text-align: center;
    transition: 0.3s;
    padding: 1rem;
    border: 1px solid #fff;
    text-decoration: none;
    margin: 0 1rem;
    max-width: 100px;
    text-align: center;
}

.Nav li a:hover {
    background-color: #fff;
    color: #000;
}

.Footer { 
    grid-area: Footer;
    bottom: 0;
    overflow: hidden;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
